@import "variables", "dir-mixins", "settings", "classes", "all_6.css";

:root {
    --main: #EE1133;
    --main-bg: #282A29;
    --main-2: #dfdfdf;
    --main-3: #f9f7f6;
    --purple: purple;
    --green-color: #95c11f;
    --wh: #fff;
    --b: #000;
    --soft-gary: #fcfaff;
    --space-gray: #a2a2a2;
}
.main-cl {
  color: var(--main);
}

.main-bg {
  background-color: var(--main-bg);
}

.color-blue {
  color: #013660;
}

[type="tel"], [type="url"], [type="email"], [type="number"] {
  direction: inherit;
}

.color-wh {
  color: #fff !important;
}

.drop-lang, .dropdown-profile {
  .hint-lang {
    p, i {
      color: #fff;
      @media (max-width: $screen-xs) {
         font-size: 12px;
      }
    }
    display: flex;
    align-items: center;
    .icon {
      margin-inline-end: 8px;
    }
  }
  .dropdown-menu {
    min-width: 100px;
    overflow: hidden;
    padding: 0;
    top: 8px !important;
      .dropdown-item {
        padding: 8px;
        font-size: 14px;
        text-align: center;
        color:#013660;
        i {
          margin-inline-end: 8px;
          font-size: 17px;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
        &:hover,
        &:focus {
          background-color: #fff;
          color: #000;
        }
      }
    }
    .dropdown-toggle, .profile-hint {
      &.show {
        &::after {
          transform: rotate(180deg);
        }
      }
      &::after {
        content: "\f078";
        display: none;
        top: 30%;
        @include dir-right(0);
        margin-left: 0;
        font-weight: 600;
        color: #fff;
        font-size: 11px;
        @include dir-margin-left(8px);
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        border: 0;
        transition: all 0.2s ease-in;
      }
    }

    &.dropdown-table {
      .dropdown-toggle {
        &.show {
          &::after {
            transform: none;
          }
        }
        &::after {
          content: "\f142";
          @include dir-margin-left(0);
          font-size: 14px;
        }
      }
      .dropdown-menu {
        min-height: fit-content;
        max-height: 200px;
        min-width: 120px;
        .dropdown-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;
          margin-bottom: 4px;
        }
      }
    }
    &.sort-table {
      .dropdown-menu {
        min-height: fit-content;
        max-height: 200px;
      }
    }
}

.dropdown-profile {
  margin-inline-end: 12px;
  background-color: transparent;
  .user-name {
    font-size: 13px;
    @media (max-width: $screen-xs) {
       font-size: 12px;
    }
    @media (max-width: 380px) {
      max-width: 64px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      direction: ltr;
    }
  }
  .dropdown-item {
    padding: 7px 8px !important;
    font-size: 12px !important;
  }
  .profile-hint {
    margin-inline-end: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    &::after {
      position: absolute;
      @include dir-right(0);
      margin-inline-start: 0 !important;
    }
  }
  .user-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
    margin-inline-end: 15px;
    @media (max-width: $screen-xs) {
       margin-inline-end: 8px;
    }
  }
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hint-header {
      font-size: 14px;
      color: var(--wh);
      @media (max-width: $screen-xs) {
         font-size: 12px;
      }
    }
}

.nav-header {
  margin: 55px 0;
  @media (max-width: 550px) {
    margin: 30px 0;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
    @media (max-width: $screen-xxs) {
      gap: 0 20px;
    }
  }
  .logo {
    display: block;
    img {
      max-height: 50px;
      object-fit: cover;
      @media (max-width: $screen-xl) {
        max-height: 50px;
      }
      @media (max-width: 550px) {
        margin-inline-end: 0px;
        max-height: 45px;
        width: 120px;
      }

      @media (max-width: $screen-xxs) {
        max-height: 35px;
      }
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 0 70px;
    color: #fff;
    flex-grow: 1;
    justify-content: center;
    background: #fff;
    padding: 25px 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(20, 36, 68, 40%);
    @media (max-width: $screen-xl) {
      gap: 0 40px;
    }
    @media (max-width: 1000px) {
      border-radius: 0;
      position: fixed;
      padding: 20px 0;
      @include dir-left(0);
      top: 0;
      min-width: 140px;
      height: 100%;
      background-color: rgba(0, 0, 0, 70%);
      z-index: 4;
      flex-direction: column;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      #{$ltr} & {
        transform: translateX(-100%);
      }
      #{$rtl} & {
        transform: translateX(100%);
      }
      &.active {
        #{$ltr} & {
          transform: translateX(0);
        }
        #{$rtl} & {
          transform: translateX(0);
        }
      }

      justify-content: flex-start;
      flex-grow: 0;
      overflow-y: auto;
    }
    .link {
      display: block;
      font-size: 15px;
      color: #013660;
      @media (max-width: 1000px) {
        color: #fff !important;
        font-size: 14px;
      }
      &.router-link-exact-active {
        // color: var(--main);
      }
    }
    li:not(:last-child) {
      @media (max-width: 1000px) {
        margin-bottom: 35px;
      }
    }
  }
  .left {
    display: flex;
    align-items: center;

    @media (max-width: $screen-md) {
      display: flex;
      align-items: center;
    }
    .lang {
      display: none;
      @media (max-width: $screen-md) {
        display: block;
        background: #f26523;
        padding: 7px 6px;
        border-radius: 10px;
      }
      span {
        @media (max-width: $screen-md) {
          display: none;
        }
      }
      button {
        &::after {
          display: none;
        }
      }
    }
    .sign-link {
      font-size: 14px;
      color: #fff;
      background: #f26523;
      padding: 13px;
      border-radius: 10px;
      @media (max-width: $screen-md) {
        padding: 8px 10px;
        font-size: 18px;
        @include dir-margin-left(10px);
      }
      span {
        @media (max-width: $screen-md) {
          display: none;
        }
      }
      i {
        display: none;
        @media (max-width: $screen-md) {
          display: block;
        }
      }
    }
  }
}

.nav-btn {
  background: transparent;
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
  @include dir-margin-left(25px);
  @media (max-width: $screen-xs) {
    @include dir-margin-left(20px);
  }
  padding: 0;
  @media (max-width: 1000px) {
    display: block;
    height: 17px;
  }
  span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--main);
    transition: 0.5s;
    left: 0;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }
  &.active span:first-child {
    top: 50%;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  &.active span:nth-child(2) {
    #{$ltr} & {
      transform: translateX(-150%);
    }
    #{$rtl} & {
      transform: translateX(150%);
    }
    opacity: 0;
  }
  &.active span:last-child {
    top: 50%;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
}

.nav-overlay {
  @media (max-width: 1000px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
    #{$ltr} & {
      transform: translateX(100%);
    }
    #{$rtl} & {
      transform: translateX(-100%);
    }
    @include dir-right(0);
    &.show {
      #{$ltr} & {
        transform: translateX(0);
      }
      #{$rtl} & {
        transform: translateX(0);
      }
    }
  }
}

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: var(--wh);
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(20, 36, 68, 40%);
  @media (max-width: $screen-md) {
    padding: 13px 20px;
  }
  @media (max-width: $screen-xs) {
    padding: 10px 20px;
    border-radius: 10px;
  }
  .sign-icon {
    display: none;
    @media (max-width: $screen-xs) {
       display: block;
    }
  }
  .login-text {
    @media (max-width: $screen-xs) {
      display: none;
    }
   }
   .user-img {
    max-height: 35px;
    @media (max-width: $screen-xs) {
      max-height: 23px;
    }
   }
}

.feature-card {
    background-color: #fff;
    border-radius: 15px;
    transition: all 0.3s ease;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 0 20px 20px;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        img {
          // filter: 
          // brightness(0) saturate(100%) 
          // invert(15%) sepia(100%) saturate(5000%) hue-rotate(240deg) brightness(90%) contrast(90%) /* أزرق */
          // drop-shadow(0 0 5px #E5254A);

          filter: 
          brightness(0) saturate(100%)
          invert(13%) sepia(82%) saturate(2000%) hue-rotate(201deg) brightness(95%) contrast(98%) /* أزرق */
          drop-shadow(0 0 5px #EE1133);
        }
    }
    
    img {
        height: 130px;
        object-fit: contain;
    }
    
    h5 {
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    p {
        font-size: 0.9rem;
        line-height: 1.6;
    }
}

.why-apps {
    padding: 80px 0;
    margin-top: 50px;
    
    h2 {
        font-size: 2.2rem;
        @media (max-width: $screen-xs) {
            font-size: 1.8rem;
        }
    }
}

.mr-auto {
  margin: 0 auto;
}

.custom-btn {
  min-width: 220px;
  min-height: 45px;
  padding: 12px 10px;
  border-radius: 6px;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  background-color: var(--main);
  box-shadow: 0 0 3px rgba(20, 36, 68, 50%);
  color: #fff;
  max-width: 100%;
  border: 1px solid var(--main);
  z-index: 1;
  @media (max-width: $screen-xs) {
    min-width: 160px;
    max-width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    background-color: #fff !important;
    color: #1799c6 !important;
    top: 0px;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
  }
  &:hover {
    color: var(--main) !important;
    &::before {
      transform: scaleX(1);
    }
  }
  &.md {
    min-width: 300px;
    padding: 10px 9px;
    min-height: 45px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.xl {
    min-width: 400px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.sm {
    min-width: 150px;
    padding: 10px 9px;
    min-height: 45px;
  }
  &.lg {
    min-width: 550px;
    padding: 10px 9px;
    min-height: 45px;
    @media (max-width: $screen-xs) {
      min-width: 100%;
    }
  }
  &.red-bg {
    background-color: #EB5757;
    border-color: #EB5757;
    &:hover {
      color: #EB5757 !important;
    }
  }
  &.cancel {
    background-color: #F8F8F8;
    color: #000;
    border-color: #F8F8F8;
    // box-shadow: none;
  }

  &.logout {
    background-color: #F5E1E1;
    border-color: #F5E1E1;
    color: #EB5757;
  }

  &.order-btn {
    background-color:transparent;
    border: 1px solid var(--main);
    box-shadow: none;
    color: var(--main);
    font-weight: bold;
    &::before {
      background-color: var(--main) !important;
    }
    &:hover, &.router-link-active {
      color: #fff !important;
      background-color: var(--main) !important;
    }
  }
}

.banner-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  @media (max-width: $screen-xs) {
    height: 290px;
  }
}

.packages-layout {
  margin-bottom: 350px;
    padding: 80px 0;
    border-radius: 50px;
    background: linear-gradient(90deg, #E5254A 0%, #013660 100%);
    @media (max-width: $screen-xs) {
      margin-bottom: 280px;
    }
    // h2, h3, p {
    //     color: #fff;
    // }
    
    .dashboard-card {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        margin: 0 auto;
        padding: 70px 30px;
        .sidebar-img {
          width: 100%;
          height: 400px;
          object-fit: contain;
        }
        .site-img {
          width: 100%;
          height: 350px;
          object-fit: contain;
        }
    }
    
    .package-card {
        padding: 70px 30px 30px;
        background: #fff;
        border-radius: 30px;
        backdrop-filter: blur(10px);
        height: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        @media (max-width: $screen-xs) {
          padding: 40px 25px 25px;
        }
        .package-title {
            color: #000;
            font-size: 1.5rem;
        }
        
        .package-features {
            margin: 30px 0;
            li {
                color: #000;
                margin-bottom: 22px;
                font-size: 14px;
                i {
                    margin-inline-start: 20px;
                }

                
            }
        }
        
        .price-tag {
            color: #E90C36;
            margin: 20px 0;
            .amount {
                font-size: 2.5rem;
                font-weight: bold;
                margin: 0 5px;
            }
            .period {
                font-size: 14px;
                opacity: 0.8;
            }
        }
        
        .btn-package {
          background-color: #fff;
            border: 2px solid #E5254A;
            border-radius: 30px;
            padding: 17.5px;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: all 0.3s ease;
            
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            }
            
            i {
                font-size: 18px;
            }
        }
    }
}

.card-info {
  background: linear-gradient(#E90C3680 100%, #FFBDCA00 50%);
  box-shadow: 0 0 2px rgba(221, 221, 221, 50%);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 20px;
  color: #fff;
  height: 100%;
}

.main-title {
  font-size: 17px;
  margin-bottom: 10px;
  &.blue {
    color:#013660;
  }
  @media (max-width: $screen-xs) {
    font-size: 15px;
  }

  &.normal {
    font-size: 15px;
  }

  &.bold {
    font-weight: bold;
  }

  &.lg {
    font-size: 20px;
    @media (max-width: $screen-xs) {
      font-size: 17px;
    }
  }

  &.cl-red {
    color: #e5254a;
  }
  
  &.sm {
    font-size: 14px;
  }

  &.md {
    font-size: 16px;
  }
  &.xl {
    font-size: 30px;
    @media (max-width: $screen-xs) {
      font-size: 22px;
    }
  }
}

.color-white {
  color: #fff;
}

.main-disc {
  font-size: 14px;
  color: #D7DFE6;
}

.main-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.price-tag {
  text-align: start;
  .real-price {
    color: #5F819D;
    text-decoration: line-through;
    font-size: 25px;
  }
}
.suggestions {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 15px;
  background-color: #fff;
  border-radius: 20px;
}

.pricing-section {
  margin-bottom: -300px;
}

.cursor-pointer {
  cursor: pointer;
}

.custum_dialog_width {
  width: 500px;
  max-width: 100%;
  margin: 0 20px;
  &.without-close {
    .p-dialog-header-icons {
      display: none;
    }
  }
  .p-dialog-header-icons {
    @include dir-margin-left(auto);
  }
  @media (max-width: $screen-xs) {
    width: calc(100% - 15px);
  }
  &.md {
    width: 600px;
  }
}

.custum_dialog_width {
  font-family:  'main_font';
  width: 500px;
  max-width: 100%;
  margin: 0 20px;
  &.without-close {
    .p-dialog-header-icons {
      display: none;
    }
  }
  .p-dialog-header-icons {
    @include dir-margin-left(auto);
  }
  @media (max-width: $screen-xs) {
    width: calc(100% - 15px);
  }
  &.md {
    width: 600px;
  }

  &.lg {
    width: 700px;
  }

  &.auth-daialog {
    .p-dialog-header-close {
      background: #F0516D;
      color: #fff;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 25%);
      &:hover {
        background-color: indianred !important;
      }
      .p-icon {
        width: 12px;
      }
    }
  }

  .p-dialog-content {
    padding: 10px 20px;
  }

}

.section-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  gap: 20px;
  flex-wrap: wrap;
  .custom-btn {
    margin-bottom: 0 !important;
  }
}

.layout-form {
  background-color: var(--wh);
    border-radius: 20px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .102);
    margin-bottom: 50px;
    padding: 45px 30px;
}

// footer

.footer-links {
  text-align: start;
  .hint-footer {
    font-size: 17px;
    color: #353333;
    margin-bottom: 20px;
  }

  @media (max-width: 550px) {
    flex-wrap: wrap;
  }
  li {
    @media (max-width: 550px) {
      margin-bottom: 15px;
    }
    &:not(:last-child) {
      @include dir-margin-right(100px);
      @media (max-width: 1024px) {
        @include dir-margin-right(45px);
      }
      @media (max-width: $screen-md) {
        @include dir-margin-right(25px);
      }
      @media (max-width: 550px) {
        @include dir-margin-right(20px);
      }
    }
    .link-footer {
      font-size: 18px;
      color: #666666;
      @media (max-width: $screen-md) {
        font-size: 17px;
      }
      @media (max-width: 550px) {
        font-size: 17px;
      }
    }
  }
  .dropdown-link {
    position: relative;
    cursor: pointer;
    .dropdown-menu.show {
      padding: 25px 30px;
      text-align: center;
      top: -22px !important;
      @include dir-right(150% !important);
      min-width: 225px !important;
      @media (max-width: $screen-md) {
        top: -20px !important;
        min-width: 180px !important;
        @include dir-right(80% !important);
      }
      @media (max-width: 375px) {
        @include dir-right(70% !important);
        min-width: 150px !important;
        padding: 25px 15px;
      }
      @media (max-width: $screen-xxs) {
        @include dir-right(25% !important);
      }
      // transform: translate(-50%, -50%) !important;
    }
    .hint-menue {
      display: block;
      font-size: 17px;
      color: #666666;
      @media (max-width: $screen-md) {
        font-size: 15px;
      }
      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #666666;
        margin-bottom: 10px;
      }
    }
  }
  &.without-arrow {
    .foot-title {
      pointer-events: none;
      &::after {
        display: none;
      }
    }
    .links {
      display: block !important;
      max-height: fit-content !important;
      overflow: visible !important;
      animation: none !important;
    }
  }
}

.foot-title,
.main-foot-title {
  font-size: 18px;
  color: #fff;
  position: relative;
  font-weight: bold;
  //   margin-bottom: 22px;
  &.active {
    &::after {
      transform: rotate(180deg);
    }
  }
  @media (max-width: $screen-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.foot-title {
  @media (max-width: 550px) {
    padding: 4px 13px;
    margin-bottom: 13px;
  }
  &::after {
    @media (max-width: $screen-md) {
      content: "\f078";
      display: inline-block;
      font-weight: 900;
      font-size: 16px;
      transition: 0.5s;
    }
  }
  &::before {
    display: none;
    @include dir-left(0);
    top: 0;
    height: 100%;
    width: 6px;
    background: #fff;
    content: " ";
    position: absolute;
    border-radius: 16px;
    @media (max-width: $screen-md) {
      display: block;
    }
  }
  &.red {
    &::before {
      background: #e02727;
    }
  }
}
.links {
  display: flex;
  flex-direction: column;
  
  @media (max-width: $screen-md) {
    max-height: 0;
    overflow: hidden;
  }

  @media (max-width: $screen-md) {
    
    &.active {
      animation: expand 0.5s ease forwards;
      overflow: visible;
    }
    
    &:not(.active) {
      animation: collapse 0.5s ease forwards;
    }
  }
  
  .link {
    display: block;
    color: var(--wh);
    font-size: 14px;
    
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  @include dir-padding-left(15px);

  .act-befor {
    font-size: 17px;
    color: #fff;
    display: block;
    position: relative;
    transition: 0.5s;
    
    @media (max-width: 550px) {
      font-size: 14px;
    }
    
    span {
      display: block;
      transition: 0.5s;
      
      &:hover {
        #{$ltr} & {
          transform: translateX(15px);
        }
        #{$rtl} & {
          transform: translateX(-15px);
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      @include dir-left(-15px);
      top: 50%;
      transform: translatey(-50%);
      background-color: #fff;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@keyframes expand {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 360px; /* Adjust based on the actual height of your content */
    opacity: 1;
  }
}